In [1]:
import pandas as pd

/Users/Jasmin/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [4]:
# Reading the CSV files
df = pd.read_csv('final_data.csv', low_memory= False)  # Load the Crash data from CSV

In [7]:
print(df)

                    REPORT_ID      Stats Area          Suburb  Postcode  \
0           2018-1-12/07/2023  2 Metropolitan   MITCHELL PARK      5043
1           2018-1-12/07/2023  2 Metropolitan   MITCHELL PARK      5043
2           2018-1-12/07/2023  2 Metropolitan   MITCHELL PARK      5043
3           2018-1-12/07/2023  2 Metropolitan   MITCHELL PARK      5043
4          2018-10-12/07/2023       3 Country  MOUNT PLEASANT      5235
...                       ...             ...             ...       ...
147939  2022-63599-12/07/2023  2 Metropolitan    DAVOREN PARK      5113
147940  2022-63600-12/07/2023  2 Metropolitan          BELAIR      5052
147941  2022-63600-12/07/2023  2 Metropolitan          BELAIR      5052
147942  2022-63601-12/07/2023  2 Metropolitan      BIRKENHEAD      5015
147943  2022-63601-12/07/2023  2 Metropolitan      BIRKENHEAD      5015

        Total Units  Year     Month        Day          Time  Area Speed  ...  \
0                 4  2018   October  Wednesday  1/5/24 11:20          60  ...
1                 4  2018   October  Wednesday  1/5/24 11:20          60  ...
2                 4  2018   October  Wednesday  1/5/24 11:20          60  ...
3                 4  2018   October  Wednesday  1/5/24 11:20          60  ...
4                 3  2018   January     Monday  1/5/24 10:45          80  ...
...             ...   ...       ...        ...           ...         ...  ...
147939            2  2022  November  Wednesday   1/5/24 9:00          50  ...
147940            2  2022  November     Friday  1/5/24 11:00          40  ...
147941            2  2022  November     Friday  1/5/24 11:00          40  ...
147942            2  2022  November    Tuesday  1/5/24 17:20          60  ...
147943            2  2022  November    Tuesday  1/5/24 17:20          60  ...

                             Unit Type Veh Year     Licence Type Rollover  \
0                   Motor Cars - Sedan      2006  Provisional 1         N
1                   Motor Cars - Sedan      2006            Full        N
2       Pedestrian on Footpath/Carpark      2017            Full        N
3              Other Fixed Obstruction      2017            Full        N
4                              Utility      2011            Full        N
...                                ...       ...             ...      ...
147939              Motor Cars - Sedan      2008            Full        N
147940              Motor Cars - Sedan      1999            Full        N
147941                     Motor Cycle      2016            Full        N
147942              Motor Cars - Sedan      2013            Full        N
147943              Motor Cars - Sedan      1998    Probationary        N

       Fire Casualty Type     Sex AGE      Seat Belt  severity_numeric
0         N        Driver    Male  40  Fitted - Worn                 1
1         N        Driver    Male  40  Fitted - Worn                 1
2         N        Driver    Male  40  Fitted - Worn                 1
3         N        Driver    Male  40  Fitted - Worn                 1
4         N        Driver    Male  40  Fitted - Worn                 1
...     ...           ...     ...  ..            ...               ...
147939    N        Driver  Female  40  Fitted - Worn                 2
147940    N        Driver    Male  40  Fitted - Worn                 1
147941    N        Driver    Male  40  Fitted - Worn                 1
147942    N        Driver  Female  26  Fitted - Worn                 2
147943    N        Driver  Female  26  Fitted - Worn                 2

[147944 rows x 28 columns]

In [8]:
# Create 'weight_fatal' using apply() with a lambda function
df['weight_fatal'] = df['severity_numeric'].apply(lambda x: 1 if x == 4 else 0)

# Display the DataFrame to confirm the new column
print(df)

                    REPORT_ID      Stats Area          Suburb  Postcode  \
0           2018-1-12/07/2023  2 Metropolitan   MITCHELL PARK      5043
1           2018-1-12/07/2023  2 Metropolitan   MITCHELL PARK      5043
2           2018-1-12/07/2023  2 Metropolitan   MITCHELL PARK      5043
3           2018-1-12/07/2023  2 Metropolitan   MITCHELL PARK      5043
4          2018-10-12/07/2023       3 Country  MOUNT PLEASANT      5235
...                       ...             ...             ...       ...
147939  2022-63599-12/07/2023  2 Metropolitan    DAVOREN PARK      5113
147940  2022-63600-12/07/2023  2 Metropolitan          BELAIR      5052
147941  2022-63600-12/07/2023  2 Metropolitan          BELAIR      5052
147942  2022-63601-12/07/2023  2 Metropolitan      BIRKENHEAD      5015
147943  2022-63601-12/07/2023  2 Metropolitan      BIRKENHEAD      5015

        Total Units  Year     Month        Day          Time  Area Speed  ...  \
0                 4  2018   October  Wednesday  1/5/24 11:20          60  ...
1                 4  2018   October  Wednesday  1/5/24 11:20          60  ...
2                 4  2018   October  Wednesday  1/5/24 11:20          60  ...
3                 4  2018   October  Wednesday  1/5/24 11:20          60  ...
4                 3  2018   January     Monday  1/5/24 10:45          80  ...
...             ...   ...       ...        ...           ...         ...  ...
147939            2  2022  November  Wednesday   1/5/24 9:00          50  ...
147940            2  2022  November     Friday  1/5/24 11:00          40  ...
147941            2  2022  November     Friday  1/5/24 11:00          40  ...
147942            2  2022  November    Tuesday  1/5/24 17:20          60  ...
147943            2  2022  November    Tuesday  1/5/24 17:20          60  ...

       Veh Year     Licence Type Rollover Fire Casualty Type     Sex AGE  \
0           2006  Provisional 1         N    N        Driver    Male  40
1           2006            Full        N    N        Driver    Male  40
2           2017            Full        N    N        Driver    Male  40
3           2017            Full        N    N        Driver    Male  40
4           2011            Full        N    N        Driver    Male  40
...          ...             ...      ...  ...           ...     ...  ..
147939      2008            Full        N    N        Driver  Female  40
147940      1999            Full        N    N        Driver    Male  40
147941      2016            Full        N    N        Driver    Male  40
147942      2013            Full        N    N        Driver  Female  26
147943      1998    Probationary        N    N        Driver  Female  26

            Seat Belt severity_numeric  weight_fatal
0       Fitted - Worn                1             0
1       Fitted - Worn                1             0
2       Fitted - Worn                1             0
3       Fitted - Worn                1             0
4       Fitted - Worn                1             0
...               ...              ...           ...
147939  Fitted - Worn                2             0
147940  Fitted - Worn                1             0
147941  Fitted - Worn                1             0
147942  Fitted - Worn                2             0
147943  Fitted - Worn                2             0

[147944 rows x 29 columns]

In [9]:
# Create 'weight_fatal' using apply() with a lambda function
df['weight_major'] = df['severity_numeric'].apply(lambda x: 1 if x == 3 else 0)

# Display the DataFrame to confirm the new column
print(df)

                    REPORT_ID      Stats Area          Suburb  Postcode  \
0           2018-1-12/07/2023  2 Metropolitan   MITCHELL PARK      5043
1           2018-1-12/07/2023  2 Metropolitan   MITCHELL PARK      5043
2           2018-1-12/07/2023  2 Metropolitan   MITCHELL PARK      5043
3           2018-1-12/07/2023  2 Metropolitan   MITCHELL PARK      5043
4          2018-10-12/07/2023       3 Country  MOUNT PLEASANT      5235
...                       ...             ...             ...       ...
147939  2022-63599-12/07/2023  2 Metropolitan    DAVOREN PARK      5113
147940  2022-63600-12/07/2023  2 Metropolitan          BELAIR      5052
147941  2022-63600-12/07/2023  2 Metropolitan          BELAIR      5052
147942  2022-63601-12/07/2023  2 Metropolitan      BIRKENHEAD      5015
147943  2022-63601-12/07/2023  2 Metropolitan      BIRKENHEAD      5015

        Total Units  Year     Month        Day          Time  Area Speed  ...  \
0                 4  2018   October  Wednesday  1/5/24 11:20          60  ...
1                 4  2018   October  Wednesday  1/5/24 11:20          60  ...
2                 4  2018   October  Wednesday  1/5/24 11:20          60  ...
3                 4  2018   October  Wednesday  1/5/24 11:20          60  ...
4                 3  2018   January     Monday  1/5/24 10:45          80  ...
...             ...   ...       ...        ...           ...         ...  ...
147939            2  2022  November  Wednesday   1/5/24 9:00          50  ...
147940            2  2022  November     Friday  1/5/24 11:00          40  ...
147941            2  2022  November     Friday  1/5/24 11:00          40  ...
147942            2  2022  November    Tuesday  1/5/24 17:20          60  ...
147943            2  2022  November    Tuesday  1/5/24 17:20          60  ...

          Licence Type Rollover Fire Casualty Type     Sex AGE      Seat Belt  \
0       Provisional 1         N    N        Driver    Male  40  Fitted - Worn
1                 Full        N    N        Driver    Male  40  Fitted - Worn
2                 Full        N    N        Driver    Male  40  Fitted - Worn
3                 Full        N    N        Driver    Male  40  Fitted - Worn
4                 Full        N    N        Driver    Male  40  Fitted - Worn
...                ...      ...  ...           ...     ...  ..            ...
147939            Full        N    N        Driver  Female  40  Fitted - Worn
147940            Full        N    N        Driver    Male  40  Fitted - Worn
147941            Full        N    N        Driver    Male  40  Fitted - Worn
147942            Full        N    N        Driver  Female  26  Fitted - Worn
147943    Probationary        N    N        Driver  Female  26  Fitted - Worn

       severity_numeric weight_fatal  weight_major
0                     1            0             0
1                     1            0             0
2                     1            0             0
3                     1            0             0
4                     1            0             0
...                 ...          ...           ...
147939                2            0             0
147940                1            0             0
147941                1            0             0
147942                2            0             0
147943                2            0             0

[147944 rows x 30 columns]

In [11]:
# Exporting merged data to a CSV file
df.to_csv("final1_data.csv", index=False)